@import 'styles/color-palette';

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;

  @media (min-width: 1024px) {
    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;
  }
}

.modal-header {
  display: grid;
  align-items: center;
  grid-template-columns: 120px 6fr 80px;
  background: linear-gradient(225deg, var(--gradient-start), var(--gradient-end));
  height: 25vh;
  color: #fff;

  & div:not(.modal-close-icon) {
    position: relative;
    top: -15px;
  }

  & h1 {
    text-transform: uppercase;
  }
}

.modal-icon-wrapper {
  border-radius: 1000px;
  display: grid;
  align-items: center;
  width: 90px;
  height: 90px;
  padding: 10px;
  background-color: #fff;
  margin: 20px;

  & svg {
    width: 80%;
    height: 80%;

    margin: 0 auto;
    .a {
      fill: #6f26bf;
    }

    .b {
      fill: #fff;
      stroke: none;
    }

    .e {
      stroke: #6f26bf;
      stroke-miterlimit: 10;
      stroke-width: 1.85px;
    }
  }
}

#close-icon {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1024px) {
  #close-icon {
    position: relative;

    .close-a {
      fill: #fff;
    }

    .close-b {
      fill: url(#close-a);
    }
  }
}

.modal-content {
  padding: 15px;
  padding-bottom: 100px;
  overflow-y: auto;
  height: 75vh;
  line-height: 1.5;
  white-space: pre-wrap;

  @media (min-width: 1024px) {
    height: 55vh;
    padding-bottom: 0;
  }
}

.modal-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  align-items: center;
  margin: 30px 0;

  @media (min-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr;
  }

  & h3 {
    font-size: 1.2em;
    margin: 0;
  }

  & p {
    margin: 0;
  }
}

.modal-item-icon-wrapper {
  width: 25vw;
  height: 25vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 15vw;
    height: 15vw;
    min-width: 60px;
    min-height: 60px;
    max-width: 100px;
    max-height: 100px;
  }

  & img {
    width: 50%;
  }
}

.modal-item-description {
  @media (min-width: 768px) {
    margin-left: 15px;
  }
}